<footer class="footer bg-black text-white py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4 m-auto">
        <h5>GET IN TOUCH</h5>
        <p>
          <fa-icon [icon]="faEnvelope"></fa-icon> mtaisir.awad&#64;gmail.com
        </p>
        <p><fa-icon [icon]="faPhone"></fa-icon> 01285324614</p>
      </div>
      <div class="col-md-4 align-self-center text-center my-auto">
        <button class="btn btn-outline-light">CONTACT ME</button>
      </div>
      <div class="col-md-4 text-end align-self-center">
        <fa-icon [icon]="faLinkedin" class="mx-2"></fa-icon>
        <fa-icon [icon]="faFacebook" class="mx-2"></fa-icon>
        <fa-icon [icon]="faGithub" class="mx-2"></fa-icon>
        <div class="col mt-3 row">
          <p class="mb-0">Copyright <span>&copy;</span> 2024 EG</p>
        </div>
      </div>
    </div>
  </div>
</footer>
