    <div class="container p-4 m-5 mx-auto">
      <div class="m-5">
        <h1>Portfolio</h1>
      </div>
  
      <div class="row justify-content-around">
        <div class="card bg-dark bg-opacity-50 text-light text-center m-3 col-12 col-md-6 col-lg-3">
          <div class="card-body p-5">
            <h4 class="card-title text-decoration-underline mt-3">{{card1_text}}</h4>
          </div>
        </div>
        <div class="card bg-dark text-light text-center m-3 col-12 col-md-6 col-lg-3">
          <div class="card-body p-5">
            <h4 class="card-title text-decoration-underline mt-3">{{card2_text}}</h4>
          </div>
        </div>
        <div class="card bg-dark bg-opacity-50 text-light text-center m-3 col-12 col-md-6 col-lg-3">
          <div class="card-body p-5">
            <h4 class="card-title text-decoration-underline mt-3">{{card3_text}}</h4>
          </div>
        </div>
      </div>
  
      <div class="row justify-content-around">
        <div class="card bg-dark text-light text-center m-3 col-12 col-md-6 col-lg-3">
          <div class="card-body p-5">
            <h4 class="card-title text-decoration-underline mt-3">{{card4_text}}</h4>
          </div>
        </div>
        <div class="card bg-dark bg-opacity-50 text-light text-center m-3 col-12 col-md-6 col-lg-3">
          <div class="card-body p-5">
            <h4 class="card-title text-decoration-underline mt-3">{{card5_text}}</h4>
          </div>
        </div>
        <div class="card bg-dark text-light text-center m-3 col-12 col-md-6 col-lg-3">
          <div class="card-body p-5">
            <h4 class="card-title text-decoration-underline mt-3">{{card6_text}}</h4>
          </div>
        </div>
      </div>
    </div>
  